DA/node-red-setting.json
[{"id":"5d27620c.35448c","type":"inject","z":"32d25b2f.0d9e44","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":181,"y":72,"wires":[["c3e41a5a.3cd198"]]},{"id":"c3e41a5a.3cd198","type":"oM2M-Application","z":"32d25b2f.0d9e44","xSCL":"24d4e60d.23936a","xA":"a50e97b0.bd4a98","obixType":"Demo","obixCategory":"GatewayApplication","obixLocation":"NCKU","obixAnnounce":true,"x":377.0069122314453,"y":71.73961162567139,"wires":[["a45db27c.484ba"]]},{"id":"a45db27c.484ba","type":"http request","z":"32d25b2f.0d9e44","name":"","method":"POST","ret":"txt","url":"","tls":"","x":578.006950378418,"y":72.73612022399902,"wires":[["48b0f2d2.c2860c"]]},{"id":"48b0f2d2.c2860c","type":"debug","z":"32d25b2f.0d9e44","name":"","active":true,"console":"false","complete":"false","x":782.0035095214844,"y":71.94791889190674,"wires":[]},{"id":"166efcfb.4ed2f3","type":"inject","z":"32d25b2f.0d9e44","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":181.0624771118164,"y":139.92014408111572,"wires":[["28cef39a.6ffcac"]]},{"id":"d23855d5.752cb8","type":"http request","z":"32d25b2f.0d9e44","name":"","method":"POST","ret":"txt","url":"","tls":"","x":576.0694122314453,"y":137.65626430511475,"wires":[["3557d4f3.b9e5fc"]]},{"id":"3557d4f3.b9e5fc","type":"debug","z":"32d25b2f.0d9e44","name":"","active":true,"console":"false","complete":"false","x":782.0659866333008,"y":139.86806297302246,"wires":[]},{"id":"35baf92e.929e46","type":"inject","z":"32d25b2f.0d9e44","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":182.06248474121094,"y":237.92015171051025,"wires":[["2476f293.d1704e"]]},{"id":"e06b2d42.e8021","type":"http request","z":"32d25b2f.0d9e44","name":"","method":"POST","ret":"txt","url":"","tls":"","x":652.0694198608398,"y":239.6562910079956,"wires":[["392edb66.5a1ad4"]]},{"id":"392edb66.5a1ad4","type":"debug","z":"32d25b2f.0d9e44","name":"","active":true,"console":"false","complete":"false","x":858.0659942626953,"y":241.86808967590332,"wires":[]},{"id":"28cef39a.6ffcac","type":"oM2M-Descriptor-Container","z":"32d25b2f.0d9e44","xSCL":"24d4e60d.23936a","xA":"a50e97b0.bd4a98","x":366.0000305175781,"y":139.81599140167236,"wires":[["d23855d5.752cb8"]]},{"id":"2476f293.d1704e","type":"oM2M-Descriptor-ContentInstance","z":"32d25b2f.0d9e44","xSCL":"4c497bf4.8672f4","xA":"b70e3bcd.9562a8","obixType":"","obixLocation":"","x":407.9965286254883,"y":239.02783679962158,"wires":[["e06b2d42.e8021"]]},{"id":"69d7db1b.782994","type":"inject","z":"32d25b2f.0d9e44","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":211.06248092651367,"y":312.9201765060425,"wires":[["8ac49914.2fcd88"]]},{"id":"2c2e2ef.4f887d2","type":"http request","z":"32d25b2f.0d9e44","name":"","method":"POST","ret":"txt","url":"","tls":"","x":605.0694389343262,"y":314.65632343292236,"wires":[["af51c1d9.5ffa1"]]},{"id":"af51c1d9.5ffa1","type":"debug","z":"32d25b2f.0d9e44","name":"","active":true,"console":"false","complete":"false","x":811.0660133361816,"y":316.8681221008301,"wires":[]},{"id":"6a51417b.cddb","type":"inject","z":"32d25b2f.0d9e44","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":119.06248092651367,"y":391.9201183319092,"wires":[["4f5841c0.0ae75"]]},{"id":"33443eb3.47c6b2","type":"http request","z":"32d25b2f.0d9e44","name":"","method":"POST","ret":"txt","url":"http://140.116.82.99:8080/om2m/gscl/applications/FinalProject/containers/DATA/contentInstances","tls":"","x":717.0694046020508,"y":394.6562604904175,"wires":[["28e7d2c7.859ece"]]},{"id":"28e7d2c7.859ece","type":"debug","z":"32d25b2f.0d9e44","name":"","active":false,"console":"false","complete":"payload","x":899.0660247802734,"y":392.8680429458618,"wires":[]},{"id":"8ac49914.2fcd88","type":"oM2M-Data-Container","z":"32d25b2f.0d9e44","xSCL":"24d4e60d.23936a","xA":"830fa4e9.21f908","maxNrOfInstances":"10","obixAnnounce":true,"x":394.0069274902344,"y":314.3924264907837,"wires":[["2c2e2ef.4f887d2"]]},{"id":"4f5841c0.0ae75","type":"function","z":"32d25b2f.0d9e44","name":"My Data","func":"var data = {\n    type:'string',\n    unit:'test data',\n    data: '\"{\"db\":0}\"',\n};\nmsg.payload = JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":280.9930877685547,"y":391.9097833633423,"wires":[["40655046.198ce"]]},{"id":"be3efd59.f0986","type":"inject","z":"32d25b2f.0d9e44","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":142.0625228881836,"y":772.1423377990723,"wires":[["fe2c86f6.2f2f68"]]},{"id":"a64b4c97.4c95a","type":"http request","z":"32d25b2f.0d9e44","name":"","method":"POST","ret":"txt","url":"","tls":"","x":720.0694427490234,"y":775.8784656524658,"wires":[["8cb6f659.6940a8"]]},{"id":"8cb6f659.6940a8","type":"debug","z":"32d25b2f.0d9e44","name":"","active":true,"console":"false","complete":"false","x":902.0660629272461,"y":774.0902481079102,"wires":[]},{"id":"f2d29ef.73dcf6","type":"oM2M-Data-ContentInstance","z":"32d25b2f.0d9e44","xSCL":"bdaa0c4a.18c1c","xA":"b70e3bcd.9562a8","obixCategory":"","x":487.9931106567383,"y":774.8229465484619,"wires":[["a64b4c97.4c95a"]]},{"id":"fe2c86f6.2f2f68","type":"function","z":"32d25b2f.0d9e44","name":"input data","func":"var data = {\n    type:'string',\n    unit:'test data',\n    data: 'a fake data'\n};\nmsg.payload = JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":295.9931335449219,"y":775.1319580078125,"wires":[["f2d29ef.73dcf6"]]},{"id":"20d0d199.45ab2e","type":"inject","z":"32d25b2f.0d9e44","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":165.06246185302734,"y":534.14231300354,"wires":[["2cac4c6.272adb4"]]},{"id":"57213e8b.12dc5","type":"http request","z":"32d25b2f.0d9e44","name":"","method":"POST","ret":"txt","url":"http://140.116.82.99:8080/om2m/gscl/applications/FinalProject/containers/DATA/contentInstances/subscriptions","tls":"","x":577.069393157959,"y":537.8784017562866,"wires":[["341ae3fe.2c01bc"]]},{"id":"341ae3fe.2c01bc","type":"debug","z":"32d25b2f.0d9e44","name":"","active":true,"console":"false","complete":"true","x":763.0659675598145,"y":540.0902004241943,"wires":[]},{"id":"2cac4c6.272adb4","type":"oM2M-Subscription","z":"32d25b2f.0d9e44","xSCL":"24d4e60d.23936a","xA":"e6633ca1.5529d","contactPath":"/notificationTest","filterType":"","filterCriteria":"content","x":358.9930419921875,"y":540.895751953125,"wires":[["57213e8b.12dc5"]]},{"id":"d06cb1f4.7c30a","type":"http in","z":"32d25b2f.0d9e44","name":"","url":"/notificationTest","method":"post","swaggerDoc":"","x":212.00343704223633,"y":636.2673282623291,"wires":[["5604d31e.9a99ac","56aa5b2b.cd0094"]]},{"id":"56aa5b2b.cd0094","type":"xml","z":"32d25b2f.0d9e44","name":"","attr":"","chr":"","x":414.0069007873535,"y":634.6283903121948,"wires":[["e75d90bf.39d1"]]},{"id":"e75d90bf.39d1","type":"function","z":"32d25b2f.0d9e44","name":"","func":"var notification = msg.payload['om2m:notify'];\nvar representation = notification['om2m:representation'];\nvar text = representation[0]._;\nvar dataObj = new Buffer(text, 'base64').toString('ascii');\nmsg.payload = dataObj;\nreturn msg;","outputs":1,"noerr":0,"x":578.996524810791,"y":636.9062166213989,"wires":[["131e1b5c.e1c185","af0cb94a.9907d8"]]},{"id":"af0cb94a.9907d8","type":"debug","z":"32d25b2f.0d9e44","name":"","active":true,"console":"false","complete":"false","x":773.0000038146973,"y":632.0589628219604,"wires":[]},{"id":"5604d31e.9a99ac","type":"http response","z":"32d25b2f.0d9e44","name":"","x":417.006893157959,"y":705.3402147293091,"wires":[]},{"id":"131e1b5c.e1c185","type":"file","z":"32d25b2f.0d9e44","name":"","filename":"C:\\Users\\Bob\\Desktop\\n.xml","appendNewline":true,"createDir":false,"overwriteFile":"true","x":811.9930458068848,"y":705.6527128219604,"wires":[]},{"id":"40655046.198ce","type":"oM2M-Data-ContentInstance","z":"32d25b2f.0d9e44","xSCL":"24d4e60d.23936a","xA":"a50e97b0.bd4a98","obixCategory":"","x":484.9930725097656,"y":393.6007413864136,"wires":[["33443eb3.47c6b2"]]},{"id":"d3f40e62.cea62","type":"http request","z":"32d25b2f.0d9e44","name":"","method":"DELETE","ret":"txt","url":"http://127.0.0.1:8080/om2m/gscl/applications/MY_SENSOR/containers/CONT_760743597","tls":"","x":326,"y":901,"wires":[["4b8b3233.fc03ec"]]},{"id":"eed2159e.81d4a8","type":"inject","z":"32d25b2f.0d9e44","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":109,"y":909,"wires":[["d3f40e62.cea62"]]},{"id":"4b8b3233.fc03ec","type":"debug","z":"32d25b2f.0d9e44","name":"","active":true,"console":"false","complete":"false","x":544,"y":903,"wires":[]},{"id":"22111ea4.5dc0d2","type":"http in","z":"32d25b2f.0d9e44","name":"send data","url":"/SendData","method":"post","swaggerDoc":"","x":112,"y":459,"wires":[["732354c0.397c8c"]]},{"id":"732354c0.397c8c","type":"function","z":"32d25b2f.0d9e44","name":"","func":"var data = {\n    type:'string',\n    unit:'test data',\n    data: msg.payload.data\n};\nmsg.payload = JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":273,"y":462,"wires":[["40655046.198ce","701d900d.1ad74"]]},{"id":"701d900d.1ad74","type":"http response","z":"32d25b2f.0d9e44","name":"","x":507,"y":454,"wires":[]},{"id":"24d4e60d.23936a","type":"xSCL","z":"","sclId":"gscl","host":"localhost","port":"8080","baseUrl":"/om2m/"},{"id":"a50e97b0.bd4a98","type":"xA","z":"","appId":"FinalProject","contactUrl":"localhost:1880"},{"id":"4c497bf4.8672f4","type":"xSCL","z":"","sclId":"gscl","host":"localhost","port":"8080","baseUrl":"/om2m/"},{"id":"b70e3bcd.9562a8","type":"xA","z":"","appId":"FinalProject","contactUrl":"localhost:1880"},{"id":"830fa4e9.21f908","type":"xA","z":"","appId":"FinalProject","contactUrl":"localhost:1880"},{"id":"bdaa0c4a.18c1c","type":"xSCL","z":"","sclId":"gscl","host":"localhost","port":"8181","baseUrl":"/om2m/"},{"id":"e6633ca1.5529d","type":"xA","z":"","appId":"FinalProject","contactUrl":"localhost:1880"}]